@import "style";
/*====================HEADER====================*/
.brand{
	padding-top: 4px !important;
	padding-bottom: 2px !important;
}
.navbar{
	margin-bottom: 0px !important;
	min-height: 39px !important;
}

#stream_chooser{
	padding-top: 5px;
	height: 25px;
	color: #fff;
	font-size: 12px;
}

.no-margin{
  margin-bottom: 0px !important;
}
.no-bot-margin{
	margin-bottom: 0px !important;
}

#nav{
	right: 0;
	left: 0;
	position: fixed;
	z-index: 9999;
}

ul{
	margin-bottom: 0px !important;
}

.navbar-inner2{
	list-style-type: none;
	padding-top: 5px;
	background-image: linear-gradient(bottom, rgb(187,204,169) 0%, rgb(187,204,169) 100%) !important;
	background-image: -o-linear-gradient(bottom, rgb(187,204,169) 0%, rgb(187,204,169) 100%) !important;
	background-image: -moz-linear-gradient(bottom, rgb(187,204,169) 0%, rgb(187,204,169) 100%) !important;
	background-image: -webkit-linear-gradient(bottom, rgb(187,204,169) 0%, rgb(187,204,169) 100%) !important;
	background-image: -ms-linear-gradient(bottom, rgb(187,204,169) 0%, rgb(187,204,169) 100%) !important;
	min-height: 40px;
	width: 100%;

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(187,204,169)),
		color-stop(1, rgb(187,204,169))
	) !important;
}

.navbar-inner2 li{
  float: left;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	a{
		font-size: 16px;
		margin: 0px !important;	
		color: #000 !important;
	}
}

.navbar-inner2 li.active a{
	background-color: rgba(0,0,0,0) !important;
	color: #FFF !important;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
}

.navbar-inner2 li.active a:hover{
	color: #FFF !important;
}
